<!DOCTYPE html>
<html lang="es">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Listado de Tareas | Flask</title>
     <!-- <style>
         body {
             font-family: Arial, sans-serif;
             text-align: center;
             margin-top: 50px;
         }
         h1 {
             color: #4CAF50;
         }
         p {
             font-size: 20px;
         }
     </style> -->
 </head>
 <body>
     <h1>¡Tareas HTML File!</h1>
     
     <ul>
         {% for tarea in tareas %}
            <li>{{ tarea }}</li>
            {% endfor %}
     </ul>
     
     <form method = "post" action="/agregar">
         <label for>Nueva Tarea</label>
         <input type="text" id="nueva_tarea" name="nueva_tarea" required>
         <button type="submit">Agregar Tarea</button>
     </form>
 </body>
</html>
